.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100%;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #ccc;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    color: black;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

/* ------------ */

h1 .heading {
    font-size: 6.5vw; text-align: center;
}

input.typeahead, .twitter-typeahead {
    width: 100%;
}

@font-face {
    font-family: 'dalelands';
    src: url('../fonts/dalelands/Dalelands Uncial.otf');
}

h1.header-font {
    font-family: dalelands;
    font-size: 64px;
    font-size: 5.25vw;
    text-align: center;
    /*font-weight: bold;*/
}

h4#queryheader {
  margin: 5px 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
  color: black;
}

/* -- Card Styling -- */

div#results {
    background-color: #FFDAB9;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 8px;
    display: none;
    font-size: 22px;
}

#multiple-datasets .compendium-types {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

div#results div {

}