@font-face {
	font-family: 'dalelands';
	src: url('fonts/dalelands/Dalelands Uncial.otf');
}

h1.header-font {
	font-family: dalelands;
	font-size: 64px;
	font-size: 4.0vw;
	text-align: center;
	font-weight: bold;
}

.character-summary {
	height: 40px;
}